body {
    background-color: lightblue;
    background-image: url("https://lh3.googleusercontent.com/EVlQJ6QshMQdeTlLID_oJ0XLLT2nGrDKzV1-swDE8xzC67fxDp1dVVc-uL9RtgUN1nc=w300") ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Comic Sans MS";
}

h1 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

h2 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    text-align: center;
}
h3 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 14px;
}